*~
*.class
.classpath
.project
.settings
.externalToolBuilders
target
nomaven/lib/
nomaven/scripts/build-java-local.xml
nomaven/build/jar/
nomaven/build/classes/
nomaven/build/apidoc/

/ghsite/
/repo/
